.DS_Store
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

.build/
.swiftpm/
Packages/

DerivedData/
*.xcuserdatad/
*.xcuserstate
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

.idea/
.vscode/
*.swp
*.swo
*~
tasks/*
plan.md
